/* css styles */

:root {
  --joeyblue: #376092;
  --darkblue: #132A45;
  --sansfont: 'Avenir', 'Muli', 'Helvetica Narrow', Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}


/* Make everything whitesmoke background except for this stuff, which should be white still */
/*:not(.callout, .callout-icon-container, .callout-title-container, .callout-body-container, .sourceCode *, .column-container *, .aa-DetachedOverlay *){
	background: whitesmoke;
}*/
body {
  background: whitesmoke;
}




/* ########################################## */
/*             Misc Global Tags               */
/* ########################################## */



/* Center Images*/
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img.rounded {
  border: 0px solid var(--joeyblue); 
  border-radius: 7px;
  width: 100%;
}

/* Small caps*/
sc {
  font-variant: small-caps;
}


p {
	text-align: justify;
	line-height: 1.4em;
	margin-bottom: 1em;
}


/* Fonts */
nav *, h1, h2, h3, footer p {
	font-family: 'Avenir', 'Muli', 'Helvetica Narrow', Arial, sans-serif;
}
body {
  font: 110% 'Iowan Old Style', 'PT Serif', 'Palatino', 'Times New Roman', serif;
}





/* ########################################## */
/*                  Main Styles               */
/* ########################################## */


/* The box that contains the nav, article, and aside */
.page-layout-custom {
  width: 1000px;
  position: center;
  margin: auto;
}

#main {
  width:700px;
	margin: 0px;
  padding: 0px;
  /* This is inside the main flex element, so it gets this property so it can be flexed. */
	flex: 3 1 60%;
}







/* ########################################## */
/*                 Header Styles              */
/* ########################################## */

/* There are two headers: the main one at the top of each page, and then the top of each blog post */
/* Includes name, title, navbar, blog title, blog date, "Posted in", footer */

#name, #name a, #tagline {
	color: whitesmoke;
	clear: none;
	float: right;
	font-family: 'Avenir', 'Muli', 'Helvetica Narrow', Arial, sans-serif;
}

#name {
  margin: 0;
  line-height: 50px;
	font-size: 1.3em;
	font-weight: 700;
	font-variant: small-caps;
	letter-spacing: 0.04em;
}

#tagline {
  line-height: 30px;
	font-size: 0.5em;
	font-variant: normal;
	font-style: italic;
	font-weight: normal;
	text-transform: lowercase;
	letter-spacing: 0.075em;
}



/* Navbar Stuff */

#quarto-header {
  border-bottom: 2px solid var(--joeyblue)
}

.navbar, .navbar * {
  background: var(--joeyblue);
}

/* My name */
.navbar-title {
  font-family: var(--sansfont);
  font-size: 2em;
	font-weight: 500;

	margin-right: 0em;

	font-variant: small-caps;
	letter-spacing: 0.02em;
}


/* Container holding the nav bar items*/
.me-auto {
  margin: auto;
  width: 800px;
  
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.me-auto .nav-item {
}

.me-auto .nav-item a {
  background-color: whitesmoke;
	border: 0px solid ;
	border-radius: 7pt;
	
	font-size: 1.2em;
	font-weight: 500;
	margin: 0 0.25em 0 0.25em;
	
	display:inline-block; /* Make it only as wide as it needs to be */
	
	font-family: var(--sansfont);
	text-align: center;
	
	flex-grow: 1;
}
.me-auto .nav-item:first-child {
  margin-left: 0;
}
.me-auto .nav-item:last-child {
  margin-right: 0;
}

.me-auto .menu-text {
	background-color: whitesmoke;
	color: var(--joeyblue);
}

/* The little taglines at the end of the top-level navbar buttons */
.menu-text em {
  background-color: whitesmoke;
  font-size: 0.5em;
  display: block;
}

/* The dropdown menu items */
.me-auto .dropdown-menu {
  background: var(--joeyblue);
  border: 0px solid var(--joeyblue);
  border-radius: 7pt;
}
.me-auto .dropdown-menu li {
  border: 3px solid var(--joeyblue);
	border-radius: 7pt;
	margin: 5px;
	display:inline-block; /* Make it only as wide as it needs to be */
}
.me-auto .dropdown-menu a {
  color: var(--joeyblue);
}
.me-auto .dropdown-menu em {
  font-size: 0.7em;
  display: block;
}

/* Container holding social media icons (but not the magnifying glass and not the icons in the dropdown) */
.nav-link, .nav-link > .bi, .nav-link::after {
  color: whitesmoke;
}
/* Social media icons in a dropdown menu */
.dropdown-item > .bi {
  color: black;
}
.dropdown-menu * {
  background: whitesmoke;
}

/* The maginfying glass (probably overkill to use this star, but I can't figure it out otherwise) */
#quarto-search * {
  color: whitesmoke;
}


/* Just a little extra space under the header */
#quarto-content {
  padding-top: 1em;
}







/* ########################################## */
/*                  Aside Styles              */
/* ########################################## */

/* For the recents section, these are formatted the same way as the buttons in the navigation pane. */

/* The main aside box */
#mainAside {
  width: 275px;
}

#mainPhoto {
	display: block;
	margin: 0;
	padding: 0;
	border: 1px solid #555;
	border-radius: 7pt;
	width: 275px;
}

#mainAside p {
	font-size: 100%;
	font-style: italic;
	text-align: center;
	margin-top: 2em;
}

#recents {
  padding: 0;
}

#recents > li {
   list-style-type: none;
   text-align: center;
   padding: 4px;
}

#recents > li > a {
  background-color: var(--joeyblue);
	border: 0px solid var(--joeyblue);
	border-radius: 7pt;
	
	font-size: 1.2em;
	font-weight: 500;
	margin: 0 0.25em 0 0.25em;
	color: whitesmoke;
	
	display:inline-block; /* Make it only as wide as it needs to be */
	
	font-family: var(--sansfont);
	text-align: center;
	
	padding: 4px 10px 4px 10px;
	
	flex-grow: 1;
}


.blog-index {
	margin-top: 3em;
}

.blog-index h2  {
	text-align: center;
}

.entry-content {
	font-size: 90%;
	text-align: justify;
}

.icon-credit {
	font-size: 0.6em;
	text-align: justify;
}
.icon-credit > img {
  display: inline;
}








/* ############################################### */
/*                  Hyperlink Styles               */
/* ############################################### */


/* Hyperlinkes are black, not blue
:not(div.thumbnail) > p > a[href*="http"] {
    color:black;
}
*/

/* Hyperlinks have the little circle thing after it.
/* :not(.paper, .abstract, .slides, .poster, .video, .flyer, .link, .audio)
:not(div.thumbnail) > p > a[href*="http"]:after,  {
    content: 'º';
    color: darkred;
}
*/

/* Hyperlinks are not underlined */
a {
   text-decoration: none;
}

/* Add my flair of what a hyperlink looks like when you hover over it. */
p a:hover { 
  color: var(--joeyblue);
	border-bottom-style: dotted;
	border-bottom-width: 1.5px;
}






/* ############################################### */
/*                      CV Styles                  */
/* ############################################### */



#cv {
	width: 75%;
	margin: auto;
}

#cv h2 {
	font-variant: small-caps;
	letter-spacing:.05em;
	font-weight: 500;
	margin-top: 2em;
}

#cv h3 {
	margin-top: 2em;
	font-style: italic;
	font-weight: 300;
}


/* Add icons to the CV link types */
a.paper:after {
	content: url('/images/icons/document.svg');
}
a.abstract:after {
	content: url('/images/icons/document.svg');
}
a.slides:after {
	content: url('/images/icons/presentation.svg');
}
a.poster:after {
	content: url('/images/icons/presentation.svg');
}
a.video:after {
	content: url('/images/icons/video.svg');
}
a.flyer:after {
	content: url('/images/icons/flyer.svg');
}
a.link:after {
	content: url('/images/icons/link.svg');
}
a.audio:after {
	content: url('/images/icons/audio.svg');
}
/* There should be a way to scale the current github.svg image, but I can't figure it out.*/
a.github:after {
	content: url('/images/icons/github.svg');
	height: 30px;
	width: 30px;
}
.student {
  color: green;
}



/* ########################################## */
/*                  Blog Styles               */
/* ########################################## */

/* Box that the title is in. For some reason it was white still */
.quarto-title-banner {
  background: whitesmoke;
}





/* ########################################## */
/*                   Tables                   */
/* ########################################## */


#wells {
	font-size: 95%;
	text-align: center;
	border-collapse: collapse;
	margin: auto;
}

/* Bottom border on header row */
#wells th {
	border-bottom: 1px solid black;
}

/* Small caps and lowercase */
table .sc {
	font-variant: small-caps;
}
table .lc {
	font-variant: normal;
}

.caption {
	font-size: 90%; 
	margin:auto;
	font-style: italic;
}

.center {
	text-align: center;
}
